.filters-mobile {
    display: none;
}

.list-button {
    height: 2.5rem !important;
}

@media screen and (max-width: 769px) {
    .filters {
        display: none;
    }

    .filters-mobile {
        display: block;
    }

}