@media screen and (max-width: 1200px) {
    .layout {
        padding: 4rem !important;
    }
}

@media screen and (max-width: 769px) {
    .layout {
        padding: 2rem !important;
    }
}

@media screen and (max-width: 480px) {
    .layout {
        padding: 0 !important;
    }
}