@media screen and (max-width: 1200px) {}

@media screen and (max-width: 769px) {
    .layout {
        padding: 2rem !important;
    }
}

@media screen and (max-width: 480px) {
    .layout {
        padding: 0 !important;
    }
}

.gradiente {
    background: rgb(250, 250, 250);
    background: linear-gradient(180deg, rgba(250, 250, 250, 1) 4%, rgba(198, 220, 234, 1) 11%, rgba(198, 220, 234, 1) 18%, rgba(255, 255, 255, 1) 24%);
}