@media screen and (max-width: 1400px) {
    .estar-al-tanto {
        flex-direction: column;

    }

    .estar-al-tanto div {
        width: 100%;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {

    .home-title p {
        font-size: 1.4rem;
    }

    .home-title h1 {
        font-size: 1.7rem;
    }

    .home-text {
        font-size: 1rem;
    }

    .info-home-text {
        font-size: 0.8rem;
    }

    .info-home-text div svg {
        width: 30px !important;
        height: 30px !important;
    }

    .titulo-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .titulo-1 div img {
        width: 400px;
        height: auto;
    }

    .titulo-1 div {
        justify-content: center;
    }

    .welcome-home {
        width: 100%;
    }

    .estar-al-tanto div div button {
        font-size: 1rem;
        width: 8rem;
        padding: 0.5rem;
        height: 3.2rem;
    }

    .estar-al-tanto div div input {
        font-size: 1rem;
        width: 30rem;
        height: 3.2rem;
    }

}

@media screen and (max-width: 769px) {
    .welcome-home {
        padding: 0rem 0rem 2rem 0rem;
    }

    .welcome-home button {
        font-size: 1rem;
        width: 8rem;
        height: 2.5rem;
    }

}

@media screen and (max-width: 480px) {

    .titulo-1 {
        padding: 0;
        align-items: center;
        min-height: 60vh !important;
    }

    .titulo-1 div h2 {
        font-size: 30px;
    }

    .titulo-1 div p {
        font-size: 1rem;
    }

    .title-image {
        width: 100%;
        height: 50%;
        justify-content: center;
        padding: 0;
    }

    .title-image img {
        padding: 0;
        width: 100%;
    }


    .titulo-2 {
        align-items: start;
        padding: 0;
        min-height: 40vh !important;
    }

    .titulo-2 div {
        align-items: center;

    }

    .titulo-2 div p {
        font-size: 1rem;
    }


    .inicio-about p {
        width: 100%;
        font-size: 1rem;
    }


    .estar-al-tanto div p:first-child {
        font-size: 1.7rem;
    }

    .estar-al-tanto div p {
        padding: 0;
    }

    .estar-al-tanto div div {
        width: 100%;
        padding: 0rem 0rem 2rem 0rem;
        gap: 1rem;
    }

    .estar-al-tanto div div button {
        font-size: 0.7rem;
        padding: 0.5rem;
        width: 40%;
        height: 2.7rem;
    }

    .estar-al-tanto div div input {
        font-size: 0.7rem;
        width: 60%;
        height: 2.7rem;
    }

    .info-home-text {
        font-size: 0.5rem;
        height: 7rem;
        margin: 3rem 0rem 2rem 0rem;
    }

    .info-home-text div {
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .info-home-text div div {
        text-align: center;
        flex-direction: column;
    }
}