.navbar {
    display: flex;
    background-color: #e5e5e5
}

.navbar-collapse {
    display: none !important;
}

@media screen and (max-width: 769px) {

    .navbar-collapse {
        display: flex !important;
    }

    .navbar {
        display: none !important;
    }

}