@media screen and (max-width: 769px) {
    .aside-bar {
        top: auto !important;
        bottom: 1rem;
        right: 0.5rem !important;
    }
}

@media screen and (max-width: 1200px) {
    .aside-bar {
        top: auto !important;
        bottom: 1rem;
        right: 0.2rem !important;
    }
}