#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
  font-family: 'Inter', sans-serif;
}

.loader-container {
  min-height: 80vh;
}

@media screen and (max-width: 480px) {

  .loader-container {
    min-height: 40vh !important;
  }

}